<%- include('includes/head.ejs') %>   
<%- include('includes/navigation.ejs') %>

<main class='container my-3'>
    <div class="card-deck">
        <% if (products.length>0) { %>
            <% products.map((product)=> { %>
                <div class="card my-3" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title" style="color: rgb(150, 2, 79) !important;"><%= product.title %></h5>
                        <h6 class="card-subtitle mb-2 text-muted" style="color: green !important;">$<%= product.price %></h6>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's content.
                        </p>
                        <a href="/" class="card-link">
                            Home
                        </a>
                        <a href="/add-product" class="card-link">
                            Add Product
                        </a>
                    </div>
                </div>
        <% })} else { %>
            <h4>No Product Found</h4>
        <% } %>
    </div>
    
</main>

<%- include('includes/end.ejs') %>