<%- include('../includes/head.ejs') %>   
<%- include('../includes/navigation.ejs') %>

<main class='container mt-5'>
    <h3><%=pageTitle%></h3>
    <h4>$<%= kwargs.cart.getTotalPrice() %></h4>
</main>

<%- include('../includes/end.ejs') %>