<%- include('../includes/head.ejs') %> 
<%- include('../includes/navigation.ejs')%>

<main class="container my-3">
	<h3><%=pageTitle%></h3>
	<div class="card my-3 product-card">
		<img class="card-img-top mt-2 mx-auto" style="width: 80%;" src="<%= kwargs.product.image %>" alt=" Product card" onerror="this.onerror=null;this.src='https://image.freepik.com/free-vector/realistic-blank-paper-coffee-bag-isolated-white-background_92916-86.jpg'">
		<div class="card-body">
			<h5 class="card-title" style="color: rgb(150, 2, 79) !important;"><%= kwargs.product.title %></h5>
			<h6 class="card-subtitle mb-2 text-muted" style="color: green !important;">$<%= kwargs.product.price %></h6>
			<p class="card-text">
			   <%= kwargs.product.description %>
			</p>

			
				<a href="/" class="btn btn-link inline">
					Shop
				</a>
				<form action="/cart" method="POST" class="inline">
					<input type="hidden" name="productId" value="<%= kwargs.product.id %>">
					<button type='submit' class="btn btn-link inline">
						Add to cart
					</button>
				</form>
		  
		</div>
	</div>
</main>

<%- include('../includes/end.ejs') %>
